<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <% const imgBaseUrl = new URL(imgUrl).origin %>
    <link rel="dns-prefetch" href="<%= imgBaseUrl %>" />
    <link rel="preconnect" href="<%= imgBaseUrl %>" />
    <link rel="prefetch" href="/images/sprite-53801210.svg" />

    <link rel="stylesheet" href="/css/bulma.min.css" />

    <% if (env === "production") { %>
    <link rel="stylesheet" href="/css/bundle.min.css" />
    <% } else { %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/sprite.css" />
    <% } %>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
</html>
